body {
    font-family: Helvetica;
}
div {
    position: relative;
    width: 200px;
}
input {
    border-radius: 0;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.lnr-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}